---
layout: default
format: work
---
<div class="row t30">
    <div class="medium-8 columns medium-push-4">
        <article itemscope itemtype="http://schema.org/Article">
            <header>
                <!--{% if page.image.title %}
				<figure>
					<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}" itemprop="image">

					{% if page.image.caption_url and page.image.caption %}
					<figcaption class="text-right">
						<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
					</figcaption>
					{% elsif page.image.caption %}
					<figcaption class="text-right">
						{{ page.image.caption }}
					</figcaption>
					{% endif %}
				</figure>
				{% endif %}-->

                <div itemprop="name">
                    <h1>{{ page.title }}</h1>
                    {% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
                </div>
            </header>


            {% if page.teaser %}
            <p class="teaser" itemprop="description">
                {{ page.teaser }}
            </p>
            {% endif %}

            <div itemprop="articleSection">
                {{ content }}
            </div>
            
            {% for item in page.soundcloud %}
            {% if item.url %}
            <iframe width="100%" height="200" scrolling="no" frameborder="no" src="{{ item.url }}"></iframe>
            {% endif %}
            {% endfor %}
            
            {% if page.show_meta == true %}
            {% include _meta_information.html %}
            {% endif %}

            {% if page.comments == true %}
            {% include _comments.html %}
            {% endif %}
        </article>
    </div><!-- /.medium-8.columns -->


    <div class="medium-4 columns medium-pull-8">
        <aside>
            <div class="panel radius">
                <h3>Details</h3>
                {% if page.instrumentation %}
                <p>For {{ page.instrumentation }}<br>
                    {% endif %}
                    {% if page.category_music %}
                    <strong>Category:</strong> {{ page.category_music }}<br>
                    {% endif %}
                    {% if page.year_composed %}
                    <strong>Year Composed:</strong> {{ page.year_composed }}<br>
                    {% endif %}
                    {% if page.duration %}
                    <strong>Duration: </strong>{{ page.duration }}<br>
                    {% endif %}
                    {% if page.orchestration %}
                    <strong>Orchestration:</strong> {{ page.orchestration }}<br>
                    {% endif %}
                    {% if page.text_writer %}
                    <strong>Text Writer:</strong> {{ page.text_writer }}<br>
                    {% endif %}
                    {% if page.language %}
                    <strong>Language:</strong> {{ page.language }}</p>
                {% endif %}
            </div>

            {% if page.performances %}
            <div class="panel radius">
                <h3>Performances</h3>
                {% for item in page.performances %}
                <p><strong>{{ item.performance_date }}</strong><br>
                    {% if item.performance_title %}
                    {{ item.performance_title }}<br>
                    {% endif %}
                    {% if item.venue %}
                    {{ item.venue }}<br>
                    {% endif %}
                    {% if item.city_state %}
                    {{ item.city_state }}<br>
                    {% endif %}
                    {% if item.performers %}
                    {{ item.performers }}</p>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            {% if page.awards %}
            <div class="panel radius">
                <h3>Awards</h3>
                {% for item in page.awards %}
                <span><strong>{{ item.award_year }}</strong>
                    {% if item.award_title %}<br>
                    {{ item.award_title }}
                    {% endif %}
                    {% if item.award_rank %}<br>
                    <i>{{ item.award_rank }}</i></span>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

        </aside>
    </div>

</div><!-- /.row -->
